
  body
  {
    color: rgb(255, 0, 0);
    background: #36eef8;
  }
  span
  {
    font-size: 30px;
  }
  #camera , #result
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  #result_emotion_name ,#result_emotion_name2  
  {
    color: black;
  }
  .emotion_name
  {
    font-size: 40px;
  }
  .emoji
  {
    font-size:48px;
  }
  .heading
  {
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 10px;
  }
  label
  {
  	font-size: 14px;
    color: #ffffff;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
  }
